<div class="parallax-container">
    <div class="parallax" >
        <img id="imagen1" src="../assets/sushi.jpg" alt="bacadillos de sushi">
    </div>
</div>

<div class="black white-text">
    <div class="container">
        <div class="section">
            <h1>Sushi Roll</h1>
            <p id="about">Descubre la auténtica experiencia del sushi con nuestro variado menú, elaborado con los ingredientes más frescos y de la más alta calidad. Desde los clásicos nigiris y sashimis hasta nuestras especialidades de la casa, cada bocado es una obra de arte.</p>
        </div>
    </div>
</div>

<div class="parallax-container">
    <div class="parallax">
        <img  id="imagen2" src="../assets/plato_sushis.jpg" alt="bacadillos de sushi">
    </div>
</div>

<div class="black white-text center">
    <div class="container">
        <div class="section">
            <h3>¿Qué nos hace únicos?</h3>
            <ul>
                <li><strong>Frescura Garantizada:</strong> Utilizamos pescado fresco y de primera calidad, seleccionado cuidadosamente por nuestros expertos.</li>
                <li><strong>Creatividad Sin Límites:</strong> Nuestra carta incluye una fusión de sabores tradicionales y modernos, diseñada para sorprender y deleitar.</li>
                <li><strong>Ambiente Acogedor:</strong> Disfruta de un entorno cálido y moderno, perfecto para una cena íntima, una reunión con amigos o una celebración especial.</li>
            </ul>

            <h3>Horario:</h3>
            <p>Lunes a Viernes: 12:00 PM - 10:00 PM</p>
            <p>Sábado y Domingo: 1:00 PM - 11:00 PM</p>
        </div>
    </div>
</div>