<nav class="menu">
    <div class=" black nav-wrapper">
      <a href="/Home" class="brand-logo">Sushi Roll</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a class="nav-link" routerLink="/Home" routerLinkActive="activo">Inicio</a></li>
        <li><a class="nav-link" routerLink="/VerMenu" routerLinkActive="activo">Ver Menú</a></li>
        <li><a class="nav-link" routerLink="/Pedidos" routerLinkActive="activo">Pedidos</a></li>
        <li><a class="nav-link" routerLink="/Calificar" routerLinkActive="activo">Calificar</a></li>
        <li><a class="nav-link" routerLink="/Comentarios" routerLinkActive="activo">Comentarios</a></li>
      </ul>
    </div>
</nav>