<div class="section container">
    <form [formGroup]="comentarioForm" (ngSubmit)="onSubmit()">
      <div class="row card-panel">
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input type="text" id="nombre" formControlName="nombre" class="validate" required>
          <label for="nombre">Nombre:</label>
          <div *ngIf="formSubmitted && comentarioForm.controls['nombre'].errors" class="red-text">
            Nombre es requerido
          </div>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input type="text" id="apellido" formControlName="apellido" class="validate" required>
          <label for="apellido">Apellido:</label>
          <div *ngIf="formSubmitted && comentarioForm.controls['apellido'].errors" class="red-text">
            Apellido es requerido
          </div>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">date_range</i>
          <input type="text" id="fecha" formControlName="fecha" class="datepicker" required>
          <label for="fecha">Fecha</label>
          <div *ngIf="formSubmitted && comentarioForm.controls['fecha'].errors" class="red-text">
            Fecha es requerida
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input type="text" id="nombreMesero" formControlName="nombreMesero" class="validate" required>
          <label for="nombreMesero">Nombre del mesero:</label>
          <div *ngIf="formSubmitted && comentarioForm.controls['nombreMesero'].errors" class="red-text">
            Nombre es requerido
          </div>
        </div>

        <div class="input-field col s6">
          <i class="material-icons prefix">event_note</i>
          <label>Califique al mesero</label>
        </div>

        <div class="input-field col s1">
          <label>
            <input type="radio" formControlName="calificacion" value="1" required>
            <span><i class="material-icons prefix">sentiment_very_dissatisfied</i></span>
          </label>
        </div>
        <div class="input-field col s1">
          <label>
            <input type="radio" formControlName="calificacion" value="2" required>
            <span><span><i class="material-icons prefix">sentiment_dissatisfied</i></span></span>
          </label>
        </div>
        <div class="input-field col s1">
          <label>
            <input type="radio" formControlName="calificacion" value="3" required>
            <span><i class="material-icons prefix">sentiment_neutral</i></span>
          </label>
        </div>
        <div class="input-field col s1">
          <label>
            <input type="radio" formControlName="calificacion" value="4" required>
            <span><i class="material-icons prefix">sentiment_satisfied</i></span>
          </label>
        </div>
        <div class="input-field col s1">
          <label>
            <input type="radio" formControlName="calificacion" value="5" required>
            <span><i class="material-icons prefix">sentiment_very_satisfied</i></span>
          </label>
        </div>

        <div class="clearfix"></div>
        <br>
        <div class="input-field col s12">
          <i class="material-icons prefix">mode_edit</i>
          <textarea formControlName="comentario" class="materialize-textarea" placeholder="Ingrese su comentario respecto a la calificación" id="comentario" required></textarea>
          <label for="comentario">Comentario:</label>
          <div *ngIf="formSubmitted && comentarioForm.controls['comentario'].errors" class="red-text">
            Comentario es requerido
          </div>
        </div>

        <button type="submit" class="btn waves-effect">
          <i class="material-icons right mr 2">check</i>
          Editar 
        </button>
      </div>
    </form>
</div>